<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="SessionLedger"
        android:supportsRtl="true"
        android:theme="@style/Theme.SessionLedgerWear">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".complication.SessionLedgerComplicationService"
            android:exported="true"
            android:icon="@drawable/ic_sessionledger_complication"
            android:label="@string/complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,MONOCHROMATIC_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <service
            android:name=".tile.SessionLedgerTileService"
            android:exported="true"
            android:icon="@drawable/ic_sessionledger_complication"
            android:label="SessionLedger"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>

        <activity
            android:name=".tile.TileStartActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".tile.TilePauseActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".tile.TileResumeActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".tile.TileStopActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name=".tile.TileCommandReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="press.pelldom.sessionledger.wear.tile.ACTION_START" />
                <action android:name="press.pelldom.sessionledger.wear.tile.ACTION_PAUSE" />
                <action android:name="press.pelldom.sessionledger.wear.tile.ACTION_RESUME" />
                <action android:name="press.pelldom.sessionledger.wear.tile.ACTION_STOP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>

